.features {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #F9F9FB;
}

.features__heading {
    color: getColor(gray-900);
    text-align: center;
    margin-bottom: 20px;

    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.72px;
}

.features__desc {
    color: getColor(gray-500);
    text-align: center;
    width: 793px;
    margin: 0 auto 64px;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.features-grid {
    margin: 0 auto;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(6, 1fr);
    grid-gap: 32px;
}